@font-face {
  font-family: 'greycliff';
  src: url(../fonts/greycliff-cf-medium.ttf);
}

$green: #76b900;
$white: #ffffff;
$softDark: #1e1e1e;

.App {
  font-family: 'greycliff';
}

body {
  margin: 0;
}

body, button {
  font-family: 'greycliff';
}

button {
  outline:0;
}

.samet-4 {
  max-width: 33.3%;
  flex: 0 0 33.333333%;
}

.samet-6 {
  max-width: 50%;
  flex: 0 0 50%;
}

.samet-8 {
  max-width: 66.6%;
  flex: 0 0 66.666666%;
}

.samet-12 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.aRight {
  text-align: right;
}

.relative {
  position: relative;
}

.rotate-180 {
  transform: rotate(180deg);    
}

/* header  */


nav .header {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.logo {
  display: inline-block;
  margin-top: 14px;
  margin-bottom: 13px; 
}

nav .header ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  margin-left: 100px;
  height: 80px;
}

nav .header ul li {
  display: inline-block;
  margin-left: 40px;
  position: relative;
  height: 100%;
  line-height: 5.4;
}

nav .header ul li a {
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  
}

nav .header ul li a:hover, nav .header ul li a.selected {
  color: $green;
}

nav .header ul li a.selected::after { 
  text-align: center;
  content: url("../imgs/header-up-arrow.svg");
  position: absolute;
  bottom: -39px;
  left: 0;
  right: 0; 
}

nav .header .lets-play {
  background: $green;
  color: $white;
  border: none; 
  font-family: 'greycliff';
  font-size: 16px;
  font-weight: 600; 
  padding: 14px 35px;
  height: fit-content;
  margin-top: 17px;
  margin-left: 50px;
}

/* SEARCH-AREA */
.search-area {
  background: #202020;
  padding: 90px 0;
  
}

.search-area .search-container {
  width: 793px;
  margin: 0 auto;
}

.search-area .search-container h1 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: $white;
  
}

.search-area .search-container h3 { 
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  color: $white;
  margin-top: 15px;
}

.search-area .search-container input { 
  width: 100%; 
  padding: 17px 0 17px 60px;
  font-size: 20px;

}

.search-area .search-container input::placeholder {
  color: #8e9fad;
}

.search-area .search-container .search-icon {
  position: absolute; 
  margin-top: 20px;
  margin-left: 20px;
}

.search-area .search-container .search-div {
  margin-top: 49px;
}

/* MAIN */
.main {
  background: #000000;
  color:white;
  min-height: 1000px;
  padding-bottom: 40px;
}

.btn-sort-header {
  padding: 16px 16px 15px;
  background-color: $softDark;
  font-size: 20px;
  font-weight: 600;
  color: #afafaf;
  border: none;
  margin-top: 6px;
  letter-spacing: 0.6px
}

.btn-sort-header img {
  margin-left: 18px;
  position: relative;
  top: -2px;
}

.sort-plane {
  box-shadow: 0 4px 12px 0 #000000;
  background-color: $softDark;
  color: #afafaf;
  position: absolute;
  right: 0;
  width: 147px;
  z-index: 100;
  display: none;
}

.sort-plane .btn-sort {
  padding: 16px 16px 15px;
  background-color: $softDark;
  font-size: 20px;
  font-weight: 600;
  color: #afafaf;
  border: none;
  margin-top: 6px;
  display: block;
  position: relative;
  letter-spacing: 0.6px
}

.expand + .sort-plane {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.main-spacer-1 {
  height: 70px;
}

.main-spacer-2 {
  height: 26px;
}

h2.h2-main-title {
  color: $white;
  font-weight: 800;
  font-size: 28px;
}

.cover {
   background: $softDark;
   padding: 40px 30px
}

.cover .side-box-second{
  margin-top: 60px
}

.cover .side-box h2{
  font-size: 24px;
  color: #afafaf;
  font-weight: 600;
  margin-bottom: 30px;
  padding: none;
  margin: 0 0 30px 0
}

.checkbox-container {
  position: relative;
  margin-bottom: 24px;
}

.checkbox-container span {
  color: #afafaf;
  position: absolute;
  font-size: 20px;
  left: 45px;
  top: 1.5px;
}

.checkbox {
  opacity:0;
  height: 16px;
  width: 17px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.checkbox + label {
  background: url("../imgs/checkbox.svg");
  height: 24px;
  width: 24px;
  display:inline-block;
  padding: 0 0 0 0px;
  cursor: pointer;
}

.checkbox:checked + label{
  background-color: $green;
  height: 24px;
  width: 24px;
  display:inline-block;
  padding: 0 0 0 0px;
  cursor: pointer;
}

.checkbox:checked + label:after{
  content: '';
  margin-top: 5px;
  margin-left: 5px;
  width:16px;
  height:12px;
  background:  url('../imgs/stroke.svg') no-repeat;
  cursor: pointer;
  display: block;
}

.main-cover {
  margin-bottom: 30px;
  padding: 30px;
}


.main-cover .samet-12 .game-name {
  margin-top: 16px;
}

.main-cover .samet-12 .game-name a{
  color: #afafaf;
  font-size: 16px;
  text-decoration: none;
}

.main-cover .samet-12 .game-name a:hover{
  color: $green;
}

.side-menu { 
  padding-right: 20px;
}

.polygon { 
  width: 60px; 
  height: 60px;
  background: url('../imgs/polygon.svg') no-repeat; 
  background-position: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.polygon .letter{ 
  color: $softDark;
  font-size: 30px;
  font-weight: bold;
}

/* FOOTER */
.footer {
  background: $white;
  padding: 24px 0;
}

.footer .footer-items span {
  display: inline-flex;
  width: 100%;
  line-height: 1.6;
  font-size: 16px;
}

.footer .footer-items .footer-images img{
  margin: 16px 15px 0 0;
}

.social-text {
  font-size: 16px;
  line-height: 1.4;
  font-weight: bold;
}


.copyright {
  background-color: $softDark;
  padding: 20px 0;
}

.copyright .copyright-links{
}

.copyright .copyright-links a {
  margin-right: 22px;
  color: $white;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;

}

.copyright .all-rights-reserved {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #eeeeee;
  text-align: right;
}

